.first-block {
  margin-bottom: 40px;
  &__container {
    padding: 16px 16px 32px 16px;
  }
  &__badge {
    width: 185px;
    height: 28px;
    border-radius: 32px;
    background-color: $layer-2;
    display: flex;
    align-items: center;
    padding-right: 8px;
    margin-bottom: 24px;
    color: $white;
  }

  &__star {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: $default;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
  }

  &__title {
    color: $text-default;
    margin: 0 0 24px 0;
    font-weight: 700;
    font-size: 34px;
    line-height: 43px;
    letter-spacing: 0.2px;

    &--mark {
      color: transparent;
      background-clip: text;
      background-image: $default;
    }
  }

  &__text {
     margin: 0 0 32px 0;
     color: $text-primary;

     &--mark {
       color: $text-default;
     }
  }

  &__button {
    margin-bottom: 16px;
  }

  &__aplications {
    margin-bottom: 32px;
  }

  &__banner {
    overflow: hidden;
    height: 325px;
    width: 100%;
  }
}
