.first-block {
  position: relative;
  overflow: hidden;
  padding: 32px 16px 0;

  &__title {
    margin: 0 0 24px 0;
    font-weight: 500;
    font-size: 34px;
    line-height: 43px;
    letter-spacing: 0.2px;
    color: $text-default;
  }

  &__label {
    color: $text-primary;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.3px;
    margin: 0 0 32px 0;
    font-weight: 300;
  }

  &__image.mobile {
    display: block;
  }
  &__image.desktop {
    display: none;
  }

  @media (min-width: 720px) {
    display: flex;
    padding: 0 32px;
    &__row {
      display: flex;
      align-items: center;
    }

    &__title {
      font-size: 51px;
      line-height: 64px;
      margin-bottom: 36px;
    }

    &__label {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 48px;
    }

    &__image.mobile {
      display: none;
    }
    &__column {
      width: 40%;
    }
    &__image.desktop {
      display: block;
      width: 60%;
    }
  }

  @media (min-width: 1200px) {
    padding: 0;
    &__title {
      font-size: 60px;
      line-height: 82px;
      margin-bottom: 36px;
    }
  }
}
