.first-block {
  &__container {
    padding: 16px 16px 32px 16px;
  }
  &__badge {
    width: 306px;
    height: 28px;
    border-radius: 32px;
    background-color: $layer-2;
    display: flex;
    align-items: center;
    padding-right: 8px;
    margin-bottom: 24px;
    color: $white;
  }

  &__star {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: $default;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
  }

  &__title {
    color: $text-default;
    margin: 0 0 24px 0;

    &--mark {
      color: transparent;
      background-clip: text;
      background-image: $default;
    }
  }

  &__text {
     margin: 0 0 32px 0;
     color: $text-primary;

     &--mark {
       color: $text-default;
     }
  }
}
