.second-block {
  margin-bottom: 56px;
  &__list {
    margin: 0;
    list-style: none;
    display: flex;
    padding: 0 5px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  @media (max-width: 720px) {
    &__item {
      width: calc(50% - 10px);

      &:nth-child(1),
      &:nth-child(2) {
        margin-bottom: 20px;
      }
      &:nth-child(1),
      &:nth-child(3) {
        margin-right: 20px;
      }
    }
  }

  @media (min-width: 720px) {
    margin-bottom: 76px;
    &__item {
      width: 120px;
      &:nth-child(1),
      &:nth-child(2) {
        margin-bottom: 0;
      }
    }
    &__list {
      padding: 0 32px;
    }
  }

  @media (min-width: 1200px) {
    &__item {
      width: 190px;
    }
    &__list {
      padding: 0;
      margin: 0 auto;
      max-width: 90%;
    }
  }
}
