.second-block {
  padding: 0 9px 40px 16px;

  &__title {
    margin: 0 0 24px 0;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.2px;
    padding: 0 6px;
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__item {
    display: flex;
    align-items: center;
    background: linear-gradient(287.52deg, #0B0D0E 4.81%, #22262A 86.39%);
    border-radius: 24px;
    margin-bottom: 12px;
    width: 100%;
    height: 180px;
    padding: 10px 20px 10px 8px;

    &:last-child {
      margin-bottom: 0;
    }

    &-image {
      height: 160px;
      width: 146px;
      position: relative;
      & img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
        height: 160px;
        width: 146px;
      }

      @media (max-width: 360px) {
        width: 128px;

        & img {
          position: absolute;
          width: 128px;
          height: 160px;
        }
      }
    }
  }

  &__content {
    margin-left: 8px;
    width: 160px;

    @media (max-width: 360px) {
      width: 124px;
    }
  }

  &__item-title {
    color: $text-default;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.3px;
    margin: 0 0 8px 0;
  }

  &__text {
    color: $text-primary;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.3px;
    margin: 0;
  }
}
