.fourth-block {
  padding: 50px 0 35px 0;
  &__title {
    color: $text-default;
    margin: 0 0 16px 0;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0.2px;
    width: 80%;
    padding: 0 16px;
  }

  &__label {
    color: $text-secondary;
    margin: 0 0 32px 0;
    font-weight: 300;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.3px;
    padding: 0 16px;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0 0 0 16px;
    display: flex;
    width: fit-content;
    overflow-x: scroll;

    &::-webkit-scrollbar,
    &::-webkit-scrollbar-track,
    &::-webkit-scrollbar-thumb {
      height: 0;
      width: 0;
      opacity: 0;
    }
    ::-webkit-scrollbar-thumb {
      height: 30px;
    }
  }

  &__item {
    width: 210px;
    height: 361px;
    border-radius: 8px;
    background: linear-gradient(287.52deg, #0B0D0E 4.81%, #22262A 86.39%);
    margin-right: 8px;
    padding-bottom: 3px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    &-footer {
      padding: 16px;
      height: 53px;
    }
  }

  &__slider {
    overflow-x: scroll;
    position: relative;
  }

  &__container {
    position: relative;
  }

  &__shadow {
    position: absolute;
    width: 80px;
    height: 361px;
    background: linear-gradient(270deg, #0B0D0E 0%, rgba(11, 13, 14, 0) 102.5%);
    right: 0;
    top: 0;
    z-index: 2;
  }

  &__item-label {
    font-weight: 500;
    color: $text-default;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.3px;
    margin: 0;
  }

  &__image {
    overflow: hidden;
    height: 305px;
  }

  &__mask {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
  }

  &__button {
    color: $white;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.3px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(110.7deg, #49EBF5 -9.14%, #04DB19 136.77%);
    border-radius: 48px;
    width: 81px;
    height: 42px;
    position: absolute;
    left: 65px;
    top: 132px;
    opacity: 0;
  }

  &__item:active .fourth-block__button,
  &__item:active .fourth-block__mask {
    opacity: 1;
  }

  @media (min-width: 1200px) {
    padding: 60px 0;
    &__title {
      font-size: 48px;
      line-height: 64px;
      margin: 0 0 24px 0;
    }
    &__label {
      margin: 0 0 48px 0;
      font-size: 16px;
      color: #999999;
    }
    &__mask {
      transition: 0.8s;
    }
    &__item:hover .fourth-block__button,
    &__item:hover .fourth-block__mask {
      opacity: 1;
      transition: 0.8s;
    }

    &__shadow {
      display: none;
    }
  }
}
