.fourth-block {
  &__item {
    background: linear-gradient(287.52deg, #0B0D0E 4.81%, #22262A 86.39%);
    border-radius: 8px;
    overflow: hidden;
  }

  &__label {
    font-weight: 500;
    color: $text-default;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.3px;
    margin: 0;
    padding: 16px;
  }
}
