.fifth-block {
  padding: 60px 16px;
  position: relative;

  &__bg {
    width: calc(100% - 10px);
    background: linear-gradient(287.52deg, #0B0D0E 4.81%, #22262A 86.39%);
    border-radius: 16px;
    padding: 27.5px 16px;
    margin: 0 5px;
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.2px;
    margin: 0 0 16px 0;
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(110.7deg,#49EBF5 -9.14%,rgba(4,219,25,0.7) 136.77%);
  }

  &__label {
    margin: 0 0 24px 0;
    font-weight: 300;
    color: $text-default;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.3px;
    max-width: 320px;
  }

  &__image {
    display: flex;
    position: absolute;
    &--desktop {
      display: none;
    }
    &--mobile {
      bottom: 50px;
      right: 15px;
    }
  }

  @media (max-width: 460px) {
     &__label {
        width: 200px;
     }
  }

  @media (min-width: 768px) {
    &__image--desktop {
      display: block;
      right: 10px;
      bottom: 100px;
    }
    &__image--mobile {
      display: none;
    }

    &__text-block {
      padding-left: 17px;
    }
    &__bg {
      margin: 0 10px;
    }
  }

  @media (min-width: 1200px) {
    &__bg.col-md-12 {
      margin: 0 10px;
      width: calc(100% - 20px);
    }
    &__bg {
      height: 280px;
      display: flex;
      align-items: center;
      padding: 0 0 0 32px;
    }

    &__image--desktop {
      right: -10px;
    }
  }
}
