.banner {
  &__title {
    margin: 0 0 24px 0;
    font-size: 34px;
    line-height: 43px;
    letter-spacing: 0.2px;
    color: $text-default;
    font-weight: 700;
  }

  &__label {
    color: $text-primary;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.3px;
    margin: 0 0 32px 0;
    font-weight: 300;
  }
  @media (max-width: 720px) {
    &__column.left {
      padding-top: 32px;
    }
  }

  @media (min-width: 720px) {
    &__row {
      display: flex;
    }
    &__column {

      &.left {
        display: flex;
        align-items: center;
      }
    }
  }

  @media (min-width: 769px) {
    &__title {
      font-size: 42px;
      line-height: 48px;
      margin-bottom: 36px;
    }

    &__label {
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 36px;
    }
  }


  @media (min-width: 860px) {
    &__column {
      margin-top: -92px;
    }
  }

  @media (min-width: 1200px) {
    &__title {
      font-size: 60px;
      line-height: 82px;
      margin-bottom: 36px;
      margin-top: 150px;
    }

    &__label {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 48px;
    }
    &__row {
      padding-bottom: 100px;
    }
  }

}
