.button {
  background: $default;
  border-radius: 48px;
  border: none;
  position: relative;
  width: 155px;
  height: 46px;
  text-decoration: none;
  color: $white;
  letter-spacing: 0.3px;
  font-size: 15px;
  line-height: 22px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;

  &--small {
    width: 107px;
    height: 42px;
  }

  &--transparent {
    width: 94px;
    height: 42px;
    margin-right: 16px;
    background: transparent;
  }

  &:active {
    background: linear-gradient(110.7deg, #0AC0FF -9.14%, rgba(4, 219, 25, 0.7) 136.77%);
  }

  @media (min-width: 1200px) {
    width: 198px;
    height: 60px;
    cursor: pointer;
    font-size: 18px;
    line-height: 24px;

    &:hover {
      background: linear-gradient(110.7deg, #49EBF5 -9.14%, rgba(4, 219, 25, 0.7) 136.77%);
      box-shadow: 1px 1px 20px rgba(28, 212, 120, 0.6);
      color: $white;
      text-decoration: none;
    }

    &--transparent:hover {
      background: transparent;
      box-shadow: none;
      color: $text-primary;
    }

    &:active {
      background: linear-gradient(110.7deg, #0AC0FF -9.14%, rgba(4, 219, 25, 0.7) 136.77%);
    }


    &--small {
      width: 107px;
      height: 42px;
      font-size: 15px;
      line-height: 22px;
    }

    &--transparent {
      margin-right: 24px;
    }
  }
}
