.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 16px;

  &__label {
    text-align: center;
    color: $text-secondary;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.3px;
    margin: 0;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    width: 128px;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  &__logo {
    margin-bottom: 24px;

    & img {
      width: 96px;
    }
  }

  &__item {
     width: 48px;
     height: 48px;
     border-radius: 50%;
     background-color: $button;
     display: flex;
     align-items: center;
     justify-content: center;
    &:active {
      filter: drop-shadow(1px 1px 20px rgba(28, 212, 120, 0.25));
    }
  }

  &__icon {
    margin-bottom: 4px;
  }

  @media (min-width: 1200px) {
    &__item {
      cursor: pointer;
      &:hover,
      &:active {
        filter: drop-shadow(1px 1px 20px rgba(28, 212, 120, 0.25));
      }
    }
  }
}
