.header {
  height: 122px;
  transition: 0.4s;
  background-color: rgba(11, 13, 14, 0);
  position: relative;
  &__img {
    width: 72px;
  }

  &__buttons {
    display: flex;
    position: absolute;
    z-index: 5;
    align-items: center;
  }

  &__column {
    display: flex;
    height: 58px;
    align-items: center;

    &.right {
      justify-content: flex-end;
    }
  }

  &__cross {
    height: 58px;
    width: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
  }

  &__cross-btn {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    fill: #49525A;
  }
  &__nav-list {
     height: 64px;
     background-color: rgba(11, 13, 14, 0);
     list-style: none;
     padding: 0;
     margin: 0;
     display: flex;
     align-items: center;
     color: $text-primary;
     font-weight: 700;
     font-size: 16px;
     line-height: 24px;
     letter-spacing: 0.3px;
     justify-content: space-between;
     max-width: 350px;
  }

  &__container {
    position: relative;
  }

  &__logo {
    & img {
      max-width: 72px;
    }
  }

  a.header__nav-link:active {
    color: #D5D9DD;
  }

  @media (min-width: 720px) {
    height: 92px;

    &__img {
      width: 124px;
    }

    &__column {
      height: 92px;
    }

    &__buttons {
      right: 0;
    }

    &__cross {
      margin-left: 16px;
    }

    &__logo {
      width: 112px;
      display: flex;

      & img {
        max-width: 96px;
      }
    }

    &__nav-block {
      width: 350px;
      position: absolute;
      top: 0;
      left: 142px;
      z-index: 5;
    }

    &__nav-list {
      height: 92px;
      z-index: 40;
    }

    &__nav-item:hover a.header__nav-link {
      cursor: pointer;
      color: #D5D9DD;
    }
  }

  @media (min-width: 1200px) {
   &__cross-btn:hover {
      fill: #D5D9DD;
    }
  }

  &--sticky {
    position: fixed;
    transition: 0.4s;
    background-color: rgba(11, 13, 14, 1);
    z-index: 50;
    width: 100%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
}
