.header {
  height: 58px;

  &__img {
    width: 72px;
  }

  &__buttons {
    display: flex;
  }

  &__column {
    display: flex;
    height: 58px;
    align-items: center;

    &.right {
      justify-content: flex-end;
    }
  }

  &__buttons {
    position: absolute;
    z-index: 5;
  }

  @media (min-width: 720px) {
    height: 92px;

    &__img {
      width: 124px;
    }

    &__column {
      height: 92px;
    }
  }

  &--sticky {
    position: fixed;
    background-color: $layer-0;
    z-index: 50;
    width: 100%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
}
