@import "colors.scss";
@import "button.scss";
@import "header.scss";
@import "footer.scss";
@import "applications.scss";
@import "animation/animation";
@import "slider.scss";
@import "banner.scss";
@import "2.scss";
@import "3.scss";
@import "4.scss";
@import "5.scss";
@import "hardcode.scss";

.body {
  background-color: $layer-0;
  font-size: 15px;
  color: $text-default;
  padding: 0;
  margin: 0;

  font-family: 'Mulish', sans-serif;

  ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  a:focus, a:hover , a:active {
    /* color: #23527c; */
    text-decoration: none;
    color: $text-default;
    outline: none;
  }
}

