.animate-circle-3 {
  position: absolute;
  left: 30px;
  bottom: 130px;

  &.active {
    bottom: 130px;
    left: 50px;
  }
}

.animate-circle-4  {
  position: absolute;
  left: -20px;
  bottom: 350px;

  &.active {
    bottom: 350px;
    left: 40vw;
  }
}
